In [1]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import json
import pandas as pd

In [6]:
#with open('results/khanacademy/_b-2rZpX5z4.json', 'r') as f:
    #df = json.load(f)

df1 = pd.read_json('results/crashcourse/_O2sg-PGhEg.json')

df2 = pd.read_json('results/crashcourse/_tULRch1PRQ.json')

#AUTOMATE
#for video_id in video_ids_crashcourse.json:
#   df = pd.read_json(f'results/crashcourse/{video_id}.json')
#   if some json files with those video_ids do not exist, continue to the next (eg. 492 files in crashcourse folder instead of 1,439 videos on crashcourse youtube channel)

In [5]:
df1.head()

,comment_by,comment_text,comment_date,likes_count
0,sam JD,awesome host.. thank u so much,2022-07-14T09:38:00Z,1
1,Franzi Z,I love this series more with every episode I w...,2020-06-18T17:26:03Z,4
2,Wade Allen,When I see images or renderings of super clust...,2020-06-17T17:46:52Z,0
3,Susurrus,It&#39;s kinda like a video game where you try...,2020-06-10T12:41:45Z,1
4,Eugene Scott,Can someone shed some light on why a super mas...,2020-06-06T00:10:48Z,0

In [7]:
df2.head()

,comment_by,comment_text,comment_date,likes_count
0,Rich Invents,"Excellent video, very informative. ONE sugges...",2022-08-15T14:58:30Z,0
1,F Wily,"Talk faster, you are too slow. I only have a 3...",2020-05-16T14:55:28Z,4
2,Sedat Ayy覺ld覺z,I like your academic and scientific jokes :)),2020-05-06T10:26:24Z,1
3,Eva Lynn,This mans hilarious,2020-04-28T09:52:08Z,0
4,Timothy Little,The best way to rob a bank is to own one,2020-04-09T07:37:44Z,1